/*dass*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blaka&family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    /*background-color: #fff;*/
    
    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(23, 21, 65, 0.884));
    color: rgb(218, 218, 218);
}

.header{
    background-color: transparent;
    min-height: 50px;
    left: 0;
    top: 0;
    right: 0;
    padding: 2rem 0;
}

    .container-logo{
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .container-logo h2{
        font-size: 8vmin;
        font-family: 'Blaka', cursive;
        letter-spacing: 1.2rem;
        text-shadow: 2px 2px 15px #00ffff;
    }
        .container-logo .logo-nuevo{
            position: absolute;
            top: 10%;
            left: 10%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;
        }
            .container-logo .logo-nuevo span{
                font-size: 4vw;
                font-weight: 800;
                text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
            }
            .container-logo .logo-nuevo span:not(:first-child){
                margin-left: -0.23em;
            }


    .header a{
        text-decoration: none;
        color: #fff;
    }

    .navbar-items ul{
        position: relative;
        margin-right: 8rem;
        list-style: none;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
    }

    .navbar-items ul li{
        margin: 0;
        display: inline-block;
    }

    .navbar-items ul li a{
        display: block;
        padding: 0.5rem 1rem;
    }

    

.main{
    background-color: transparent ;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    min-height: calc(100vh - 50px - 150px);
    
}
    .main .container-body{
        max-width: 95%;
        height: 100%;
        margin: 0px 10px 0px 10px;
    }

        .container-body .datos{
            text-align: center;
            font-size: 18px;
        }
            .datos h2{
                margin: 80px 0px 80px 0px;
                letter-spacing: 3px;
                text-shadow: 2px 2px 4px #00ffff;
            }
    .main .img-row{
        padding-top: 20px;
        max-width: 440px;
        max-height: 85px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

    }
        .img-row img{
            display: flex;
            margin-bottom: 8px;
            border-radius: 2px ;
            margin-right: 10px;
            width: 80px;
        }

.footer{
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 180px;
    padding: 2rem 0;
    align-items: center;
    border-top: #fff 1px solid;
}

        .footer h2{
            text-align: center;
            font-size: 20px;
            font-weight: 100;
            
        }
        .footer small {
            color: rgba(23, 21, 65, 0.884);  
            letter-spacing: 0.5rem;
            text-shadow:
            -1px -1px 0 white, 
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white; 
        }
    .footer a{
        align-items: center;
        text-decoration: none;
        color: #fff;

    }
    .footer .links{
        width: 100%;
        text-align: center;
        justify-content: space-around;
        font-weight: 500;
    }

        .footer .links a:hover{
            text-decoration: line-through;
            color: rgba(117, 45, 17, 0.363);
            transition: all 0.2s linear;
        }


        /*RESPONSIVE 768PX*/
@media only screen and (max-width: 767px){

.header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px #fff solid;
    height: auto;
}
    .container-logo h2{
        margin-left: 28%;
    }
    .header .navbar-items{
        padding-top: 10px;
    }
    nav{
        width: 100%;
    }
    .navbar-items ul{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        font-size: 20px;

    }
    .navbar-items a{
        color: rgba(255, 255, 255, 0.89);
    }

.container-body .datos{
    flex-wrap: nowrap;
}
    .datos h2{
        margin-bottom: 100px;
    }

.main .img-row{
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: auto;
    margin-left: 155px;
}

.footer{
    margin-top: 300px;
    height: 180px;
}

}

/*RESPONSIVE 650PX*/
@media only screen and (max-width: 649px){
    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        .container-logo h2{
            margin-left: 25%;
        }
        .header .navbar-items{
            padding-top: 10px;
        }
        
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: 18%;
            font-size: 20px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 100px;
    }
    
    .footer{
        margin-top: 300px;
        height: 180px;
    }
    
}


/*RESPONSIVE 600PX*/
@media only screen and (max-width: 600px){
    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        
        .header .navbar-items{
            padding-top: 10px;
        }
        nav{
            width: 100%;
        }
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: 18%;
            font-size: 20px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 70px;
    }
    
    .footer{
        margin-top: 300px;
        height: 180px;
    }
    
}


/*RESPONSIVE 530PX*/
@media only screen and (max-width: 530px){
    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        .container-logo h2{
            margin-left: 20%;
        }
        .header .navbar-items{
            padding-top: 10px;
        }
        nav{
            width: 100%;
        }
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: 10%;
            font-size: 20px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 40px;
    }
    
    .footer{
        margin-top: 300px;
        height: 180px;
    }
    
}

/*RESPONSIVE 480PX*/
@media only screen and (max-width: 480px){
    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        .container-logo h2{
            margin-left: 15%;
        }
        .header .navbar-items{
            padding-top: 10px;
        }
        nav{
            width: 100%;
        }
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            font-size: 20px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 40px;
    }
    
    .footer{
        margin-top: 300px;
        height: 180px;
    }
    
}

/*RESPONSIVE 425PX*/
@media only screen and (max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        .container-logo h2{
            margin-left: 10%;
        }
        .header .navbar-items{
            padding-top: 10px;
        }
        nav{
            width: 100%;
        }
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: -5%;
            font-size: 20px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 20px;
    }
    
    .footer{
        margin-top: 400px;
        height: 180px;
    }
    
}


/*RESPONSIVE 370PX*/
@media only screen and (max-width: 380px){

    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        .container-logo h2{
            margin-left: 4%;
        }
        .header .navbar-items{
            padding-top: 10px;
        }
        nav{
            width: 100%;
        }
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: -12%;
            font-size: 14px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 10px;
    }
    
    .footer{
        margin-top: 400px;
        height: 180px;
    }
    
}


/*RESPONSIVE 320PX*/
@media only screen and (max-width: 320px){

    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        .container-logo h2{
            margin-left: -6%;
        }
        
        nav{
            width: 100%;
        }
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: -25%;
            font-size: 14px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 15px;
    }
    
    .footer{
        margin-top: 400px;
        height: 180px;
    }
    
}

/*RESPONSIVE 280PX*/
@media only screen and (max-width: 280px){

    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }
        .container-logo h2{
            margin-left: -20%;
        }
        .header .navbar-items{
            padding-top: 10px;
        }
        nav{
            width: 100%;
        }
        .navbar-items ul{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            margin-left: -45%;
            font-size: 14px;
    
        }
        .navbar-items a{
            color: rgba(255, 255, 255, 0.89);
        }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: auto;
        margin-left: 15px;
    }
    
    .footer{
        margin-top: 450px;
        height: 180px;
    }
    
}

/*RESPONSIVE 180PX*/
@media only screen and (max-width: 180px){
    .footer{
        margin-top: 550px;
        height: 180px;
    }
    
}