/*dass*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blaka&family=Kdam+Thmor+Pro&family=Roboto:wght@100&display=swap');
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    /*background-color: #fff;*/
    
    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(to bottom, rgb(10, 10, 25), rgba(23, 50, 65, 0.884));
    color: rgb(218, 218, 218);
}

.header{
    background-color: transparent;
    width: 100%;
    min-height: 50px;
    left: 0;
    top: 0;
    right: 0;
    padding: 2rem 0;
}

    .container-logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        display: inline-block;
    }
    .container-logo h2{
        font-size: 8vmin;
        font-family: 'Blaka', cursive;
        letter-spacing: 1.2rem;
        text-shadow: 2px 2px 15px #00ffff;
        text-align: center;
    }
        

.main{
    background-color: transparent ;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    min-height: calc(100vh - 50px - 150px);
    
}
    .main .container-body{
        max-width: 95%;
        height: 100%;
        margin: 0px 10px 0px 10px;
    }

        .container-body .datos{
            text-align: center;
            font-size: 18px;
            color: rgb(218, 218, 218);
        }
            .datos h2{
                margin: 80px 0px 80px 0px;
                letter-spacing: 3px;
                text-shadow: 2px 2px 4px #00ffff;
            }
    .main .img-row{

        display:flex;
	justify-content: center;
	align-items:center;
	/*padding-top: 20px;
        max-width: 700px;
        max-height: 85px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;*/

    }
        .img-row img{
            display: flex;
            margin-bottom: 8px;
            border-radius: 2px ;
            margin-right: 10px;
            width: 80px;
        }

.footer{
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 180px;
    padding: 2rem 0;
    align-items: center;
    border-top: #fff 1px solid;
}

        .footer h2{
            text-align: center;
            font-size: 20px;
            font-weight: 100;
            
        }
        .footer small {
            color: rgba(23, 21, 65, 0.884);  
            letter-spacing: 0.5rem;
            text-shadow:
            -1px -1px 0 white, 
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white; 
        }
    .footer a{
        align-items: center;
        text-decoration: none;
        color: #fff;

    }
    .footer .links{
        width: 100%;
        text-align: center;
        justify-content: space-around;
        font-weight: 500;
    }

        .footer .links a:hover{
            text-decoration: line-through;
            color: rgba(117, 45, 17, 0.363);
            transition: all 0.2s linear;
        }


        /*RESPONSIVE 768PX*/
@media only screen and (max-width: 768px){

.header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px #fff solid;
    height: auto;
}

.container-body .datos{
    flex-wrap: nowrap;
}
    .datos h2{
        margin-bottom: 100px;
    }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 80%;
	margin-left: 0;
	margin-bottom:100px;
    }

    .footer{
       margin-top: 600px;
       height: 180px;
    }
    


}

/*RESPONSIVE 480PX*/
@media only screen and (max-width: 480px){
    .header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #fff solid;
        height: auto;
    }

    .main .img-row{
        align-items: center;
        display: flex;
        flex-direction: column;
        max-height: 80%;
	margin-left: 0;
	margin-bottom:100px;
    }

    .footer{
       margin-top: 500px;
       height: 180px;
    }
    
}
   

